<p id="notice"><%= notice %></p>

<h1>Imagens</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagens.each do |imagen| %>
      <tr>
        <td><img src="<%= imagen.url.thumb %>" alt=""></td>
        <td><%= imagen.name %></td>
        <td><%= link_to 'Show', imagen %></td>
        <td><%= link_to 'Edit', edit_imagen_path(imagen) %></td>
        <td><%= link_to 'Destroy', imagen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagen', new_imagen_path %>
