<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @imagen.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @imagen.name %>
</p>

<%= link_to 'Edit', edit_imagen_path(@imagen) %> |
<%= link_to 'Back', imagens_path %>
